.container {
    width: 80%;
    margin-top: 50px;
}
.column{
    display: table;
    padding: 1px; 
}
.products {
    float: right;
    width: 20%;
    border: 0.5px solid lightgray;
}
.img-container {
    display: flex;
    justify-content: center;

    img{
        width: 90%;
        padding: 10px;
        margin: auto;
    }
}
.details {
    margin: 1px 10px 10px 10px;
    text-align: center;

    button {
        font-size: 14px;
    }

    h5 {
        margin: 10px;
        font-size: 14px;
        font-weight: bold;
    }

    p {
        margin: 4px;
        font-size: 13px;
    }
}
